body{
    background: #ffe6f7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #ff66cf;
    text-align: center;

}
h2{
    color: #ff66cf;
    text-align: center;
}

.projectGallery {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    text-align:center;
    margin-top: 20px;
}

.projectGallery a{
    text-decoration: none;
    color: #ff66cf;
    font-weight: bold;
}

.project{
    width: 300px;
}

.project img{
    width: 100%;
    height: auto;
    border: 2px soldid #ff66cf;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.project img:hover{
    transform: scale(1.05);
}

.label{
    font-weight: bold;
    color: #ff66cf;
    margin-top: 10px;
}

.comment{
    font-size: 0.9em;
    color: #555;
    width: 80%;
    margin: 5px auto 0;
}