body{
    background: #ffe6f7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #ff66cf;
    text-align: center;

}
h2{
    color: #ff66cf;
    text-align: left;
}

.project-section {
  margin-top:40px;
}

.project-row{
    display: flex;
    justify-content:center;
    gap: 40px;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.project-box {
  width: 300px;
  text-align: center;
}


.project-box a{
    text-decoration: none;
    color:#ff66cf;
    font-weight: bold;
}

.project-box img{
    width: 100%;
    height: auto;
    border: 2px solid #ff66cf;
    border-radius: 8x;
    transition: transform 0.2s ease;
}

.project-box img:hover{
    transform: scale(1.05);
}

.project-pox p{
    color: #555;
    font-size: 0.95em;
    margin-top:8px;
}

.skills span a{
    font-weight: bold;
    color: #ff66cf;
    text-decoration: none;
}

.skills span a:hover {
    text-decoration: underline;
}