body {
    font-family: Arial, sans-serif;
    margin: 40px;
    color: #000000;
    background-color: #f9f9f9;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 8px;
}
h1, h2 {
    color:#000000;
    margin-bottom: 5px;
}
hr {
    border: 0;
    border-top: 2px solid #000000;
    margin: 10px 0 20px 0;
}